.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


header{
  text-transform: uppercase;
}
nav{
  font-weight: 600;
}

button{
  font-weight: 600;
  text-transform: uppercase;
}

.active{
  background-color:#fff;
}
.card{
  transition: 0.3s;
}
.card:hover{
  background-color: #030712;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Add responsive CSS here */
@media (max-width: 768px) {
  /* Show the mobile menu on small screens */
  #mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #1a202c; /* Customize the background color */
    position: absolute;
    top: 70px; /* Adjust the distance from the header */
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the menu is on top of other elements */
  }
  
  #mobile-menu.active {
    display: flex;
  }
  
  /* Hide the menu button on mobile when the menu is active */
  #mobile-menu-button {
    display: none;
  }
  
  /* Adjust other styles as needed */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
